body {
  font-family: arial, sans-serif;
}

h1 {
  color: #e8630a;
  font-size: 40px;
  font-weight: 800px;
  margin-bottom: 10px;
  margin-top: 10px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  margin: 100px auto;
  max-width: 660px;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  padding: 25px;
}
.temperature {
  font-size: 55px;
  color: #e8630a;
  line-height: 70px;
  float: left;
}
.weather-icon {
  margin-right: 10px;
  padding: 0;
  float: left;
}

.search-form {
  margin-bottom: 20px;
  color: #878787;
}
.current {
  margin: 0;
}
.card {
  color: #878787;
  text-align: center;
  border: none;
  background: transparent;
  margin-top: 35px;
}
.day {
  color: #e8630a;
}

.search {
  color: #e8630a;
}
.high-low {
  color: #878787;
  margin-top: 60px;
}
.units {
  margin-left: 10px;
  color: #878787;
}

.github-link {
  color: #464545;
  font-size: 14px;
}
